<div class="menu-item"
    [ngClass]= "{'vertical-menu': menuService.isVertical, 'router-link-active': isActiveRoute }">
  <i class="icon {{item.icon}}"></i>
  <span>{{item.text.toUpperCase() }}</span>

<span *ngIf="item.submenu && !parentIsPopup && !menuService.isVertical" 
  class="icon fas fa-chevron-down"></span>
<span *ngIf="item.submenu && parentIsPopup && !menuService.isVertical" 
  class="icon fas fa-angle-right"></span>
<span *ngIf="item.submenu && menuService.isVertical && !(mouseInPopup || mouseInItem)" 
  class="icon fas fa-angle-left"></span> 
<span *ngIf="item.submenu && menuService.isVertical && (mouseInPopup || mouseInItem)" 
  class="icon fas fa-chevron-down"></span> 

</div>
<fw-popup-menu
    *ngIf="mouseInPopup || mouseInItem" 
    [menu]='item.submenu'
    [ngClass]="{'vertical-menu': menuService.isVertical}"
    (mouseleave)="onPopupMouseLeave($event)" 
    (mouseenter)="onPopupMouseEnter($event)"
    [style.left.px]="popupLeft"
    [style.top.px]="popupTop">
<!--     @visibilityChanged>  -->
</fw-popup-menu>
