<div *screenBelowLarge class="title-bar-small">
    <span class="fas fa-bars"
      (click)="menuService.toggleLeftSideMenu()">
    </span>
    <div class="small-image-holder">
        <img class="small-image" src="assets/KlammerRedGradient.png">
  </div>
<span><i class="fas fa-ellipsis-v"></i></span>
</div> 


<div *screenLarge class="title-bar">
  <img src="assets/KlammerRedGradient.png" alt="Green Nation Logo">
  <div class="menu-area">
    <fw-top-bar>
    </fw-top-bar>
    <fw-menu *ngIf="!menuService.isVertical">
    </fw-menu>
  </div>
</div> 

